/* setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;text-decoration:none;color:inherit;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
html{font-size: 62.5%;}
img {max-width: 100%; height: auto; display: block;}
ul {list-style-type: none;}
figure{margin:0;}

/* GLOBAL STYLES */
*, h1 {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 2rem;
}

h1, h2, h3, h5 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    /* smaller than on styleguide to match psd more closely */
    color: #fcfcfc;
    font-size: 9rem;
    line-height: 117px;
}

h2 {
    color: #fcfcfc;
    font-size: 5.1rem;
}

h3 {
    color: #152D20;
    font-size: 4.9rem;
}

h4, h6 {
    font-family: 'Cormorant Garamond', serif;
    color: #152D20;
    font-weight: 600;
    font-size: 3.5rem;
    text-transform: uppercase;
}

h4 {
    color: #fcfcfc;
    font-size: 2.2rem;
}

h5 {
    color: #152D20;
    font-size: 3.5rem;   
}

h6{
    color: #fcfcfc;
}

p {
    line-height: 29px;
}

button, a {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 29px;
    text-transform: uppercase;
    line-height: 29px;
}

button{
    padding: 5px 20px;
    border: none;
}

section {
    padding: 100px 0;
}
/* HEADER */
header {
    background-image: url(./animalLandAssets/animalLandAssets/image01.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    padding: 15px;
}
/* page spanx */
.wrapper {
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
}

/* PAGE NAVIGATION */
.pageNav li {
    display: inline-block;
}

.pageNav a {
    color: #fcfcfc;
    padding: 5px;
    margin-right: 15px;
}

/* I tried to make a universal hover and focus color change for all anchor tags on the page, but it only worked for half of them for some reason, so I did them each individually */
.pageNav a:hover, .pageNav a:focus {
    color: #C3D3CB;
}

/* Hiding the Hamburger: this Christmas's hot new game for kids of all ages! */
.pageNav i, .pageNav input {
    display: none;
}

/* TITLE */
h1 {
    float: right;
    max-width: 50%;
    text-align: right;
    margin: 50px 0;
}

/* SOCIAL NAV */
/* so, I had a lot of trouble positioning these and I thought "hey, since they exist outside the wrapper, wouldn't it be cool if they were fixed to the page so they would always be available?" since they never block or interfere with other content, I went ahead and did it */
.socials {
    color: #fcfcfc;
    padding: 3px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: rgba(21, 45, 32, 0.4);
    border-radius: 50px;
    box-shadow: 0 0 3px 3px rgba(21, 45, 32, 0.4);
    text-align: center;
}

.socials a {
    border-radius: 50%;
    padding: 5px;
    
}

.socials a:hover, .socials a:focus {
    color: #C3D3CB;
}

/* SUZIE'S STORY */
/* About? */
.about {
    background-color: #152D20;
}

.about figure {
    max-width: 25%;
    float: left;
}

.aboutContent {
    max-width: calc(75% - 30px);
    float: right;
    margin-left: 15px;
}

.aboutContent p {
    color: #fcfcfc;
    margin: 10px 0;
}

.aboutContent button {
    background-color: #fcfcfc;
    color: #152D20;
    margin-top: 10px;
    border: 2px solid transparent;
}

.aboutContent button:hover, .aboutContent button:focus {
    border: 2px solid #fcfcfc;
    color: #fcfcfc;
    background-color: #152d20;
}

/* OUR FRIENDS */
/* Gallery? */
.friends {
    background-color: #C3D3CB;
}

.friends h3 {
    padding: 5px 0;
    text-align: center;
}

.friends li {
    float: left;
    margin: 90px 30px 0 0;
    max-width: calc((100% - 60px) / 3);
    
}

.friends li:nth-child(3) {
    margin-right: 0;
}

/* ICON LINKS? */
/* Since I assumed these are links, I made hover and focus effects in the same theme as the rest of the anchor tags */
.icons {
    background-color: #152D20;
    padding: 50px 0 40px 0;
}

.icons li {
    float: left;
    text-align: center;
    max-width: 15%;
    margin-left: 15%;
}

.icons a {
    color: #fcfcfc;
    font-size: 4rem;
}

.icons a:hover, .icons a:focus {
    color: #C3D3CB;
}

.icons h4 {
    padding: 10px 0;
}

/* BLOG */
.blog {
    background-color: #fcfcfc;
}

.zebras img {
    max-width: 50%;
    float: right;
}

.zebraContent {
    max-width: calc(50% - 30px);
    float: right;
    margin-right: 30px;
    padding: 2% 0;
}

.zebras h5, .bond h5 {
    margin-bottom: 15px;
}

.zebras button, .bond button {
    margin-top: 15px;
    border: 2px solid transparent;
    background-color: #152D20;
    color: #fcfcfc;
}

.zebras button:hover, .zebras button:focus, .bond button:hover, .bond button:focus {
    border: 2px solid #152d20;
    background-color: #fcfcfc;
    color: #152D20;
}

.bond img {
    max-width: 50%;
    float: left;
}

.bondContent{
    max-width: calc(50% - 30px);
    float: right;
    margin-left: 30px;
    padding: 2% 0;
}

/* CONTACT */
.contact {
    background-color: #152D20;
}

/* nav menu */
.bottomNav {
    float: left;
}

.bottomNav li {
    margin-bottom: 13px;
}

.bottomNav a{
    color: #fcfcfc;
}

.bottomNav a:hover, .bottomNav a:focus {
    color: #C3D3CB;
}

/* subscribe form */
.subscribe {
    color: #fcfcfc;
    float: right;
    text-align: center;
    margin: 0 5px;
}

.subscribe p {
    margin: 20px 0;
}

.subscribe input {
    border: none;
    background-color: #fcfcfc;
    color: #000000;
    height: 39px;
    min-width: 33vw;
    margin: 0;
    display: block;
    float: left;
    padding: 0 10px;
}

.subscribe button {
    margin: 0;
    display: block;
    float: left;
    background-color: #000000;
    color: #fcfcfc;
    
}

.subscribe button:hover, .subscribe button:focus {
    color: #000000;
    background-color: #fcfcfc;
}

/* contact info */
.contactInfo {
    text-align: right;
    float: right;
    color: #fcfcfc;
}

.contactInfo h6 {
    margin-bottom: 15px;
}

.contactInfo p {
    margin-bottom: 5px;
}

/* FOOTER */
footer {
    background-color: #000000;
    color: #fcfcfc;
    text-align: center;
    padding: 2.5%;
}

footer a:hover, footer a:focus {
    color: #C3D3CB;
}

footer a {
    font-family: inherit;
    font-weight: 300;
}

/* I chose to break to the mobile design @ 1005px because that's the point when the design starte to look real bad, specifically the contact section. The header section also got cramped and ugly less than 100px smaller. This break point also keeps any words from obscuring the beautiful tiger's face*/

/* MOBILE DESIGN */
@media (max-width:1005px) {
    .wrapper {
        max-width: 1005px;
        width: 90%;
    }
    
    /* move the title to top left */
    header {
        height: 100vh;
    }

    h1 {
        float: left;
        text-align: left;
        font-size: 5rem;
        max-width: 30%;
        line-height: 50px;
        margin: 0;
    }

    /* Hamburger Menu */
    /* positioning nav menu at right */
    .pageNav i, .pageNav input {
        display: block;
        font-size: 5rem;
    }
    
    .pageNav input {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 15px;
        right: 38px;
        z-index: 1;
        opacity: 0;
    }

    .pageNav i {
        color: #fcfcfc;
        position: absolute;
        top: 15px;
        right: 42px;
        
    }

    .pageNav li {
        display: block;
        text-align: right; 
    }

    .pageNav a {
        text-align: right;
        padding: 5px;
        margin: 0;
    }

    /* hide the menu */
    .menu {
        float: right;
        margin-top: 50px;
        position: fixed;
        right: -200px;
        transition: right 500ms;        
    }

    /* slide the menu in */
   [type="checkbox"]:checked ~ .menu {
            right: 40px;
            position: absolute;

    }

    /* SOCIAL LINKS */
    /* these don't appear on the mobile psd, so I just hid them, I'd suggest they be added to the contact section, top navigation, or both */
    .socials {
        display: none;
    }

     /*ABOUT*/
    /* Resize image, stack and center content*/
    .about figure {
        max-width: 100%;
        float: none;
    }

    .aboutContent {
        max-width: 100%;
        float: none;
        margin: 30px 0 0 0;
        /* text-align: center; */
    }

    .about .button {
        text-align: center;
    }

    /* Gallery? */
    /* only show two pictures*/
    .friends li:nth-child(3) {
        display: none;

    }

    /* center images */
    .friends li {
        max-width: calc(50% - 15px);
    }

    .friends li:nth-child(2) {
    margin-right: 0;
    }

    /* ICON LINKS?  */
    /* resize and center icons */
    .icons {
        padding: 5vh 0 5vh 0;
    }

    .icons li {
        float: none;
        max-width: 100%;
        margin: 5vh;
    }

    .icons a {
        font-size: 10rem;
    }

    .icons h4 {
        padding: 5vh 0;
        font-size: 5rem;
    }

    /* ZEBRAS */
    /* resize and center content */
    .blog {
        padding: 0;
        text-align: center;
    }
    .blog .wrapper, .contact .wrapper {
        width: 100%;
        text-align: center;
    }

    .zebras img, .bond img {
        max-width: 100%;
        float: none;
    }

    .zebraContent, .bondContent {
        max-width: 100%;
        float: none;
        margin: 0 5%;
        text-align: center;
    }

    .zebras h5, .bond h5 {
        margin: 30px 10px;
    }

    .zebras button, .bond button {
        margin: 30px 0;
    }
    /* right here on the psd is a strange stripe of gry background, which I am assuming is an error, as it is not aligned with anything, and there is no other grey in the design */

    /* CONTACT */
    /* NAV */
    /* center and position horizontally */
    .contact {
       position: relative;
       min-height: 90vh;
    }

    .bottomNav {
        float: none;
        margin: 0;
    }

    .bottomNav li {
        margin: 0 1vh;
        display: inline-block;
    }

    .bottomNav a{
        font-size: 2rem;
        padding: 7.5px 0;
    }

    /* subscribe form */
    .subscribe {
        float: none;
        margin: 5% 0;
    }

    .subscribe input {
        height: 50px;
        min-width: 90vw;
        margin: 0 5vw;
        float: none;
        padding: 0 10px;
        text-align: center;
    }

    .subscribe button {
        min-width: 90vw;
        margin: 1vw 5vw;
        float: none;
        height: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;

    }

    .subscribe button:hover, .subscribe button:focus {
        color: #000000;
        background-color: #fcfcfc;
    }

    /* contact info */
    .contactInfo {
        text-align: center;
        float: none;
        width: 100%;
        position: absolute;
        top: 70%;
    }

}